@inherits LayoutComponentBase
@inject NavigationManager navMan

<PageTitle>FirstUI</PageTitle>

<div class="header" @onclick=@(() => navMan.NavigateTo("/"))>David's Electric Blog</div>
<NavBar />

@Body
