@inject NavigationManager navMan

<div class="nav-button" @onclick=@(() => navMan.NavigateTo(Link))>@Text</div>

@code {
	[Parameter]
	public string Text { get; set; }
	[Parameter]
	public string Link { get; set; }
}
