@page "/about"

<PageTitle>neon95: ABOUT</PageTitle>

<h1>About Me</h1>

<p>
	The human writing these blogs is called David England, and lives in the fair town of
	Cheltenham, UK, with his wife and zero children.
</p>
<table>
	<tr>
		<td>PROFESSION</td>
		<td>Coding</td>
	</tr>
	<tr>
		<td>HOBBIES</td>
		<td>Coding; learning German on Duolingo; travelling</td>
	</tr>
	<tr>
		<td>WORLD BELIEFS</td>
		<td>Christian: I believe that Jesus is the Head Honcho.</td>
	</tr>
</table>