@page "/about"

<PageTitle>David's Electric Blog: ABOUT</PageTitle>

<h1>About Me</h1>

Enjoys making announcements and speaking in fake Latin. When not blogging (a.k.a. all the time, so far at least) I enjoy living the good life in Cheltenham, UK, and spending time with my wife and zero children.