@using Core
@inject NavigationManager navMan

<div class="blog-link" @onclick=@(() => navMan.NavigateTo($"blogpage/{BlogKey}"))>
	<div class="blog-link-header">@(Blog.Title.ToUpper())</div>
	<div class="blog-link-details">
		@(Blog.Author.Forename) @(Blog.Author.Surname),
		@(Blog.CreatedDate.ToString("dd MMMM yyyy"))
	</div>
</div>

@code {
	[Parameter]
	public string BlogKey { get; set; }
	[Parameter]
	public IBlog Blog { get; set; }
}
