@page "/"
@inject IBlogCollection blogs

<PageTitle>David's Electric Blog</PageTitle>

<h1>Willkommen</h1>

Welcome to my blog.

@foreach (var kv in blogs.GetAllBlogs().OrderByDescending(kv => kv.Value.CreatedDate).ToDictionary())
{
	<BlogLinkTile BlogKey=@kv.Key Blog=@kv.Value />
}