@page "/"
@using Core
@inject NavigationManager navMan

<PageTitle>David's Electric Blog</PageTitle>

<h1>Willkommen</h1>

Welcome to my blog.

@foreach (var kv in Orchestrator.AllBlogs)
{
	<div class="blog-link" @onclick=@(() => navMan.NavigateTo($"blogpage/{kv.Key}"))>
		<div style="font-family:'Lucida Console';">@(kv.Value.Title)</div>
		<div>
			@(kv.Value.Author.Forename) @(kv.Value.Author.Surname),
			@(kv.Value.CreatedDate.ToString("dd MMMM yyyy"))
		</div>
	</div>
}