@page "/"
@using Core
@inject NavigationManager navMan

<PageTitle>David's Electric Blog</PageTitle>

<h1>Willkommen</h1>

Welcome to my blog.

@foreach (IBlog blog in Orchestrator.AllBlogs)
{
	<div class="blog-link" @onclick=@(() => LoadBlog(blog))>
		<div style="font-family:'Lucida Console';">@(blog.Title)</div>
		<div>@(blog.Author.Forename) @(blog.Author.Surname), @(blog.CreatedDate.ToString("dd MMMM yyyy"))</div>
	</div>
}

@code {
	private void LoadBlog(IBlog blog) => navMan.NavigateTo($"blogpage/{Orchestrator.IndexOf(blog)}");
}