@page "/"
@inject IBlogCollection blogs

<h1>Willkommen</h1>

Yet another blog.... Welcome.

@foreach (var kv in blogs.GetAllBlogs().OrderByDescending(kv => kv.Value.CreatedDate).ToDictionary())
{
	<BlogLinkTile BlogKey=@kv.Key Blog=@kv.Value />
}