::selection {
    background-color: hotpink;
}

.header {
    font-family: "Lucida Console";
    background-color: cyan;
    position: sticky;
    top: 0%;
}

body {
    font-family: "Times New Roman";
}

h1 {
    font-family: "Lucida Console";
}

.blog-link {
    border: dashed;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    width: max-content;
}

.blog-link-header {
    font-family: 'Lucida Console';
    font-size: large;
}

.blog-link-details {
    font-style: italic;
}

.blog-link:hover {
    background-color: cyan;
    border-width: thick;
}

.blog-link:active {
    background-color: orange;
}
