::selection {
    background-color: hotpink;
}

.header {
    font-family: "Lucida Console";
    background-color: aqua;
    position: sticky;
    top: 0%;
}

h1 {
    font-family: "Lucida Console";
}

.blog-link {
    border: dashed;
    margin: 5px 0px 5px 0px;
    width: max-content;
}

.blog-link:hover {
    background-color: aquamarine;
}

.blog-link:active {
    background-color: lawngreen;
}
